<div ng-controller="BookingController">

    <div class="container">
        <h5>Chọn chuyến bay khởi hành</h5>
        <form name="flight_dashboard" novalidate>
            <table class="table">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Nơi đi</th>
                    <th>Nơi đến</th>
                    <th>Ngày</th>
                    <th>Giờ bay</th>
                    <th>Hạng vé</th>
                    <th>Mức giá</th>
                    <th>Số ghế</th>
                    <th>Giá vé</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in flights">
                    <td>{{item.flightId}}</td>
                    <td>{{item.departure}}</td>
                    <td>{{item.arrival}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.class}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.total_seat}}</td>
                    <td>{{item.cost}}</td>
                    <td>
                        <div class="btn-group">
                            <label><input type="radio" name="choose-flight">Chọn</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="container">
        <h5>Chọn chuyến bay khứ hồi</h5>
        <form name="flight_dashboard" novalidate>
            <table class="table">
                <thead>
                <tr>
                    <th>Mã chuyến bay</th>
                    <th>Nơi đi</th>
                    <th>Nơi đến</th>
                    <th>Ngày</th>
                    <th>Giờ bay</th>
                    <th>Hạng vé</th>
                    <th>Mức giá</th>
                    <th>Số ghế</th>
                    <th>Giá vé</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in flights">
                    <td>{{item.flightId}}</td>
                    <td>{{item.departure}}</td>
                    <td>{{item.arrival}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.class}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.total_seat}}</td>
                    <td>{{item.cost}}</td>
                    <td>
                        <div class="btn-group">
                            <label><input type="radio" name="choose-flight">Chọn</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

</div>