<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Airline</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="stylesheets/daterangepicker.css">
</head>
<body ng-app="app">
  <div id="index-banner" ng-controller="PassengerController">
    <div class="section no-pad-bot">
        <br><br>
        <div class="row">
          <div class="col s12">
            <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
              <div class="row">
                <div class="form-group">
                  <i class="material-icons prefix"></i>
                  <input name="secondname" type="text" class="validate" ng-model="user.secondname" required>
                  <label class="white-text" for="secondname">Họ (ví dụ : Nguyễn)*</label>
                  <p ng-show="userForm.secondname.$invalid && !userForm.secondname.$pristine || (userForm.secondname.$invalid && userForm.secondname.$touched)" class="help-block">You name is required.</p>
                </div>
                <div class="form-group">
                  <i class="material-icons prefix"></i>
                  <input name="firstname" type="text" class="validate" ng-model="user.firstname" required>
                  <label class="white-text" for="firstname">Tên đệm và tên:(ví dụ Duc Thinh)*</label>
                  <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine || userForm.firstname.$invalid && userForm.firstname.$touched" class="help-block">You name is required.</p>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id="Addr" type="text" class="validate">
                  <label class="white-text" for="Addr">Địa chỉ</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id="City" type="text" class="validate">
                  <label class="white-text" for="City">Thành phố</label>
                </div>
                <div class="input-field col s3 white-text">
                  <i class="material-icons prefix"></i>
                  <select>
                    <option value="1">Việt Nam</option>
                    <option value="2">Singapore</option>
                  </select>
                  <label class="white-text">Quốc gia</label>
                </div>
                <div class="input-field col s3 white-text">
                  <i class="material-icons prefix"></i>
                  <select>
                    <option value="1">Lâm Đồng</option>
                    <option value="2">Nghệ An</option>
                  </select>
                  <label class="white-text">Tỉnh/Tiểu bang</label>
                </div>
                <div class="input-field col s12">
                  
                </div>
                <div class="form-group">
                  <i class="material-icons prefix"></i>
                  <input name="email" type="email" class="validate" ng-model="user.email">
                  <label class="white-text" for="Email">Email</label>
                  <p ng-show="userForm.email.$invalid && !userForm.email.$pristine || userForm.email.$invalid && userForm.email.$touched" class="help-block">You name is required.</p>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">date_range</i>
                  <input id="birthday" type="text" >
                  <label class="white-text" for="Birthday">Ngày sinh :</label>
                </div>
                 <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id=Numb type="text" class="validate">
                  <label class="white-text" for="Numb">Điện thoại di động</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id="Phone" type="text" class="validate">
                  <label class="white-text" for="Phone">Số điện thoại</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id="id" type="text" class="validate">
                  <label class="white-text" for="id">Số hộ chiếu</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">date_range</i>
                  <input id="date-id" type="text" class="datepicker white-text">
                  <label class="white-text" for="Date-id">Ngày hết hạn hộ chiếu :</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id="Country-id" type="text" class="validate">
                  <label class="white-text" for="Country-id">Hộ chiếu nước</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix"></i>
                  <input id="Citzenship" type="text" class="validate">
                  <label class="white-text" for="Citzenship">Quốc tịch</label>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col s6 offset-s6">
              <button class="btn waves-effect waves-light">Tiếp tục
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--  Scripts-->
<script src="javascripts/jquery-3.1.1.min.js"></script>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/angular-resource.min.js"></script>
<script src="javascripts/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/moment.min.js"></script>
<script src="javascripts/daterangepicker.js"></script>
<script src="javascripts/ngProgress.min.js"></script>
<script src="javascripts/toaster.js"></script>
<script src="app/app.js"></script>
<script src="app/factory.js"></script>
<script src="app/airport.js"></script>
<script src="app/passenger.js"></script>

  </body>
</html>
